
<% if @imgid %>


<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path  @imgid, crop: :fill %>')"
>
  <h1><%= @list.name %></h1>
</div>


<% end %>
<%= link_to "Mes listings", root_path, class: 'btn btn-primary' %><br>

  <%= button_to "Remove this list", @list, method: :delete, class: 'btn btn-primary'  %>


<h2>Liste des films de la liste</h2>
<% @movies.each do |movie| %>
  <%= movie.title %><br>
  <%= movie.overview %><br>

  <img src="<%= movie.poster_url %>" height="200"><br>

  <%= movie.rating %><br>

  <%= button_to "Supp film", bookmark_path(movie.bookmark_ids.first), method: :delete, class: 'btn btn-primary' %><br>
<% end %>


<button type="button" class="btn btn-primary" data-turbo="false" data-bs-toggle="modal" data-bs-target="#moviesModal" data-bs-whatever="Movies">Ajouter un film</button>
<%= render 'movie_modal' %>
